/node_modules
/public/hot
/public/storage
/public/assets-new/problem
/public/assets-new/solFunction
/public/assets-new/solution
/public/assets-new/avatar
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
